{% extends 'base.html.twig' %}

{% block encabezado %}
    <div id="cta_perfil_home">
        <a class="cta" href="tel:+34000000000"> Llamanos </a>
        <a id="enlace_perfil_login" href="{{ path(perfil) }}"><img id="icon_user" src="{{ asset('imagenes/user.svg') }}" /> {{ nombre }}</a>
    </div>
    <ul class="nav navbar_home">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#tratamientos_home">Tratamientos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#terapeutas_home">Terapeutas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contacto_home">Contacto</a>
        </li>
    </ul>
{% endblock %}

{% block main %}
    <section id="tratamientos_home">
        <h3>Tratamientos</h3>
        <p>En Clínica Ayala ofrecemos una amplia variedad de tratamientos para mejorar tu salud y bienestar.</p>
        <article id="tratamientos_acordion_home">
            <div class="accordion" id="accordionTratamientosHome">

                {% for tratamiento in tratamientos %}
                    <div class="accordion-item">
                        <h2 class="accordion-header texto">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ tratamiento.id }}" aria-expanded="false" aria-controls="collapse{{ tratamiento.id }}">
                                {{ tratamiento.nombre }}
                            </button>
                        </h2>
                        <div id="collapse{{ tratamiento.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionTratamientosHome">
                            <div class="accordion-body texto">
                                {{ tratamiento.descripcion }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
        </article>
    </section>

    <section id="terapeutas_home">
        <h3>Terapeutas</h3>
        <p>Conoce a nuestro equipo de terapeutas altamente cualificados.</p>
        <article id="terapeutas_lista_home">
            <ul class="terapeutas_lista_simple list-group list-group-flush">
                {% for terapeuta in terapeutas %}
                    <li class="list-group-item">
                        <p>{{ terapeuta.nombre }}: {{ terapeuta.titulacion }}</p>
                    </li>
                {% endfor %}
            </ul>
        </article>
    </section>

    <section id="contacto_home">
        <h3>Contacto</h3>
        <ul id="contacto_main" class="contacto_lista">
			<li>Avenida Francisco Ayala s/n</li>
			<li><a href="tel:+34000000000"> +34 000000000</a></li>
		</ul>
        <article id="mapa_home">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3178.337261477686!2d-3.6189490242935305!3d37.192218072138026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71fcf9589cae9d%3A0xd64971351144a933!2sIES%20Francisco%20Ayala!5e0!3m2!1ses!2ses!4v1707394392413!5m2!1ses!2ses"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                title="mapa de la ubicación de la clínica"
            ></iframe>
        </article>
    </section>
{% endblock %}