{% extends 'base.html.twig' %}

{% block title %}Cliente
{% endblock %}

{% block header %}
	<h1>Espacio para Clientes: {{ cliente.nombre }}</h1>
	<ul>
		<li><a href=" {{ path('app_logout') }} ">Cerrar Sesión</a></li>
		<li><a href=" {{ path('app_home') }} ">Volver a la página principal</a></li>
		<li><a href=" {{ path('app_cambio_password') }} ">Cambiar Contraseña</a></li>
        <li><a href=" {{ path('app_cliente_citas_terapeutas') }} ">Citas y Terapeutas</a></li>
	</ul>
{% endblock %}

