{% extends 'admin/indexAdmin.html.twig' %}

{% block title %}Editar Tratamiento
{% endblock %}

{% block main %}
	<h3>Editar Tratamiento Seleccionado:
		{{ nombreTratamiento }}</h3>
	<section id="editar-tratamiento">
		{{form_start(editarTratamientoForm) }}
			{{ form_widget(editarTratamientoForm) }}
			<button class="btn btn-primary" type="submit">Guardar</button>
			<a class="enlace_cancelar enlace_form" href="{{ path('app_admin_tratamientos') }}">Cancelar</a>
		{{ form_end(editarTratamientoForm) }}
		{% for message in app.flashes('error') %}
			<div class="flash-error">
				{{ message }}
			</div>
		{% endfor %}
	</section>
{% endblock %}
