{% extends 'admin/indexAdmin.html.twig' %}

{% block title %}Administradores/as
{% endblock %}

{% block main %}
	<h3>Crear Cuenta de Administrador/a</h1>
	<section id="nuevo-admin">
		{{ form_start(registroForm) }}
			{{ form_widget(registroForm) }}
			<button class="btn btn-primary" type="submit">Guardar</button>
		{{ form_end(registroForm) }}
		
		{% for message in app.flashes('error') %}
			<div class="flash-error">
				{{ message }}
			</div>
		{% endfor %}
	</section>
	<section id="admins">
		<h3>Administradores/as</h3>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Correo Electrónico</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for admin in admins %}
					<tr>
						<td>{{ admin.email }}</td>
						<td>

						{% if not admin.nuevo %}
							<a href="{{ path('admin_reiniciarPassword', {'id': admin.id}) }}">Reiniciar Contraseña</a>
						{% endif %}

						{% if admin.id != app.user.id %}<!-- No se puede borrar a si mismo -->
							<a href="{{ path('admin_borrarUser', {'id': admin.id, 'origen': 'app_admin_admins'}) }}">Borrar</a>
							<a href="{{ path('app_admin_editarAdmin', {'id': admin.id}) }}">Editar</a>
						{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}
