{% extends 'admin/indexAdmin.html.twig' %}

{% block title %}Clientes
{% endblock %}

{% block main %}
	<section id="clientes">
		<h3>Clientes</h3>
		<table>
			<thead>
				<tr>
					<th>Correo Electrónico</th>
                    <th>Nombre</th>
                    <th>Terapeutas</th>
					<th>Próximas Citas</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for cliente in clientes %}
					<tr>
						<td>{{ cliente.usuario.email }}</td>
                        <td>{{ cliente.nombre }}</td>
                        <td>
							{% for terapeuta in cliente.terapeutas %}
								{{ terapeuta.nombre }}<br/>
							{% endfor %}
						</td>
						<td>
							{% if cliente.citas|length > 0 %}
								{% set citasPendientes = [] %}
								{% for cita in cliente.citas %}
									{% if cita.estado == 'pendiente' %}
										{% set citasPendientes = citasPendientes | merge([cita]) %}
									{% endif %}
								{% endfor %}
								{% if citasPendientes|length > 0 %}
									{% set citasPendientes = citasPendientes|sort((a, b) => a.fecha <=> b.fecha) %}
									{% for cita in citasPendientes %}
										<p>{{ cita.fecha|date('d-m-Y H:i') }} {{cita.terapeuta.nombre}}</p>
									{% endfor %}
								{% endif %}
							{% endif %}
						</td>
						<td>
						{% if not cliente.usuario.nuevo %}
							<a href="{{ path('admin_reiniciarPassword', {'id': cliente.usuario.id}) }}">Reiniciar Contraseña</a>
						{% endif %}
							<a href="{{ path('admin_borrarUser', {'id': cliente.usuario.id, 'origen': 'app_admin_clientes'}) }}">Borrar</a>
							<a href="{{ path('app_admin_cliente_editar', {'id': cliente.usuario.id}) }}">Editar</a>
						</td> 
					</tr>
				{% endfor %}
			</tbody>
		</table>
    </section>
{% endblock %}
