{% extends 'admin/indexAdmin.html.twig' %}

{% block title %}Editar Admin
{% endblock %}

{% block main %}
	<h3>Editar Admin: {{ admin.email }}</h1>
	<section id="editar-admin">

		{{form_start(form) }}
			{{ form_widget(form) }}
			<a class="enlace_cancelar enlace_form" href="{{ path('app_admin_admins') }}">Cancelar</a>
		{{ form_end(form) }}

		{% for message in app.flashes('error') %}
			<div class="flash-error">
				{{ message }}
			</div>
		{% endfor %}
	</section>
{% endblock %}
