{% extends 'admin/indexAdmin.html.twig' %}

{% block title %}Editar Terapeuta
{% endblock %}

{% block main %}
	<h3>Editar Terapeuta: {{ terapeuta.nombre }}</h1>
	<section id="editar-terapeuta">
		{{form_start(formEditTerapeuta) }}
        {{ form_widget(formEditTerapeuta) }}
        <button type="submit">Guardar</button>
        {{ form_end(formEditTerapeuta) }}

		{% for message in app.flashes('error') %}
			<div class="flash-error">
				{{ message }}
			</div>
		{% endfor %}
	</section>
    <a href="{{ path('app_admin_terapeutas') }}">Cancelar</a>

{% endblock %}
