{% extends 'base.html.twig' %}

{% block title %}Administraci칩n
{% endblock %}

{% block encabezado %}
	<h1>Administraci칩n</h1>
	<nav id="menu_header">
		<ul>
			<li><a href=" {{ path('app_admin_terapeutas') }} ">Terapeutas</a></li>
			<li><a href=" {{ path('app_admin_clientes') }} ">Clientes</a></li>
			<li><a href=" {{ path('app_admin_admins') }} ">Administradores/as</a></li>
			<li><a href=" {{ path('app_admin_tratamientos') }} ">Tratamientos</a></li>
			<li><a href=" {{ path('app_admin_horarios') }} ">Horarios</a></li>
			<li><a href=" {{ path('app_cambio_password') }} ">Cambiar Contrase침a</a></li>
			<li><a href=" {{ path('app_logout') }} ">Cerrar Sesi칩n</a></li>
		</ul>
	</nav>
{% endblock %}


