{% extends 'base.html.twig' %}

{% block title %}Administración
{% endblock %}

{% block header %}
	<h1>Administración</h1>
	<ul>
		<li><a href=" {{ path('app_admin_tratamientos') }} ">Tratamientos</a></li>
		<li><a href=" {{ path('app_admin_admins') }} ">Administradores/as</a></li>
		<li><a href=" {{ path('app_logout') }} ">Cerrar Sesión</a></li>
		<li><a href=" {{ path('app_home') }} ">Volver a la página principal</a></li>
		<li><a href=" {{ path('app_cambio_password') }} ">Cambiar Contraseña</a></li>
	</ul>
{% endblock %}
