{% extends 'admin/indexAdmin.html.twig' %}

{% block title %}Terapeutas
{% endblock %}

{% block main %}
	<h3>Crear Cuenta de Terapeuta</h1>
	<section id="nuevo-terapeuta">
		{{ form_start(registroFormUser) }}
		{{ form_start(registroFormTerapeuta) }}

			{{ form_widget(registroFormUser) }}
			{{ form_widget(registroFormTerapeuta) }}
			<button type="submit">Guardar</button>

		{{ form_end(registroFormTerapeuta) }}
		{{ form_end(registroFormUser) }}

		{% for message in app.flashes('error') %}
			<div class="flash-error">
				{{ message }}
			</div>
		{% endfor %}

	</section>

	<section id="terapeutas">
		<h3>Terapeutas</h3>
		<table>
			<thead>
				<tr>
					<th>Correo Electrónico</th>
                    <th>Nombre</th>
                    <th>Titulación</th>
                    <th>Tratamientos</th>
                    <th>Horario</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for terapeuta in terapeutas %}
					<tr>
						<td>{{ terapeuta.usuario.email }}</td>
                        <td>{{ terapeuta.nombre }}</td>
                        <td>{{ terapeuta.titulacion }}</td>
                        <td>
							{% for tratamiento in terapeuta.tratamientos %}
								{{ tratamiento.nombre }}<br/>
							{% endfor %}
						</td>
                        <td>
							{% for horario in terapeuta.horario %}
								{{ horario.franja_horaria }}<br/>
							{% endfor %}</td>
						<td>
						{% if not terapeuta.usuario.nuevo %}
							<a href="{{ path('admin_reiniciarPassword', {'id': terapeuta.usuario.id}) }}">Reiniciar Contraseña</a>
						{% endif %}
						
							<a href="{{ path('admin_borrarTerapeuta', {'id': terapeuta.usuario.id}) }}">Borrar</a>
						</td> 
					</tr>
				{% endfor %}
			</tbody>
		</table>
    </section>
{% endblock %}
