{% extends 'admin/index.html.twig' %}

{% block title %}Crear cuenta
{% endblock %}

{% block main %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1>Crear Cuenta de Administrador/a</h1>

	{{ form_errors(registroForm) }}

	{{ form_start(registroForm) }}
	{{ form_row(registroForm.email) }}
	{{ form_row(registroForm.confirmacion) }}
	{{ form_end(registroForm) }}
{% endblock %}
