{% extends 'base.html.twig' %}

{% block title %}Cambio Contraseña
{% endblock %}

{% block header %}
	{% if nuevo %}
		<a href="{{ path('app_home') }}">Volver a la página de la Clínica</a>
	{% else %}
		<a href="{{ path('app_login_redirect') }}">Volver a espacio personal</a>
	{% endif %}
{% endblock %}
{% block main %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	{% for message in app.flashes('error') %}
		<div>
			{{ message }}
		</div>
	{% endfor %}

	<h1>Cambio de Contraseña</h1>

	{{ form(cambioPasswordForm) }}{% endblock %}
