{% extends 'base.html.twig' %}
{% block title %}Cambio Contraseña
{% endblock %}

{% block body %}
	<section id="cambio_password">
		{% for flash_error in app.flashes('reset_password_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		{{ form_start(cambioPasswordForm) }}
			<h1 class="titulo h3 mb-3 font-weight-normal">Cambio de Contraseña</h1>
			{{ form_widget(cambioPasswordForm) }} <!-- Renderiza los campos del formulario -->
			<button class="btn btn-lg btn-primary btn-block" type="submit">Guardar</button>
			{% if nuevo %}
				<a id="enlace_volver" class="enlace_form" href="{{ path('app_home') }}">Volver a la página de la Clínica</a>
			{% else %}
				<a id="enlace_volver" class="enlace_form" href="{{ path('app_login_redirect') }}">Volver al espacio personal</a>
			{% endif %}
		{{ form_end(cambioPasswordForm) }}

		{% for message in app.flashes('error') %}
			<div>
				{{ message }}
			</div>
		{% endfor %}
	</section>
{% endblock %}
