<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Clínica Ayala
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/png" href="{{ asset('imagenes/favicon.png') }}">
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<header>
				<a 
					class="logo" 
					href=" 
						{% if app.request.attributes.get('_route') == 'app_home' %}
							#
						{% else %}
							{{ path('app_home') }}
						{% endif %}">
					<img src=" {{ asset('imagenes/logo.svg') }} " alt="Logo" class="icono_logo">
					Clínica Ayala
				</a>	
				{% block encabezado %}
				{% endblock %}
			</header>
			<hr/>
			<main>
				{% block main %}{% endblock %}
				{% if app.request.cookies.get('visitada') is empty %}
					<div id="toast_primera_vez">
						<div class="toast show align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="d-flex">
								<div class="toast-body">
									<p>¡Hola! Esta web es mi proyecto final de mi FP de desarrollo web. <span>NO ES UNA CLÍNICA REAL</span>. Los datos de contacto tampoco son reales. 
										Si has llegado hasta aquí sabiendo eso ¡espero que te guste la experiencia!
									</p>
								</div>
								<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
							</div>
						</div>
					</div>
				{% endif %}
				<div id="modalConfirm" class="modal" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Se necesita confirmación</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<p>La acción no podrá deshacerse. ¿Desea continuar?</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary btn-cancel" data-bs-dismiss="modal">Cancelar</button>
								<button type="button" class="btn btn-primary btn-accion-modal" data-url="">Continuar</button>
							</div>
						</div>
					</div>
				</div>
			</main>
			<footer>
				<section id="contenedor_footer">
					<a 
						class="logo" 
						href=" 
							{% if app.request.attributes.get('_route') == 'app_home' %}
								#
							{% else %}
								{{ path('app_home') }}
							{% endif %}">
						<img src=" {{ asset('imagenes/logo.svg') }} " alt="Logo" class="icono_logo">
						Clínica Ayala
					</a>
					<ul id="contacto_footer" class="contacto_lista">
						<li><img src=" {{ asset('imagenes/map.svg') }} " alt="Ubicación" class="icono_footer">Avenida Francisco Ayala s/n</li>
						<li><a href="tel:+34000000000"><img src=" {{ asset('imagenes/tlf.svg') }} " alt="Teléfono de contacto" class="icono_footer"> +34 000000000</a></li>
					</ul>
				</section>
			</footer>
		{% endblock %}
	</body>
</html>
