{% extends 'terapeuta/index.html.twig' %}
{% block title %}Citas
{% endblock %}
{% block main %}
	<section id="nueva-cita">
		<h3>Nueva Cita</h3>

        {{ form(form)}}
        {% for message in app.flashes('error') %}
			<div class="flash-error">
				{{ message }}
			</div>
		{% endfor %}
	</section>
	<section id="citasTerapeuta">
		<h3>Citas</h3>
		<table>
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Estado</th>
                    <th>Motivo</th>
                    <th>Cliente</th>
                    <th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for cita in citas %}
					<tr>
						<td>{{ cita.fecha|date('d-m-Y H:i') }}</td>
                        <td>{{ cita.estado }}</td>
                        <td>
                        {% if cita.motivo %}
                            {{ cita.motivo }}
                        {% endif %}
                        </td>
                        <td>
                            {% if cita.cliente %}
                                {{ cita.cliente.nombre }}
                            {% endif %}
                        </td>
                        <td>
                            {% if cita.estado == 'pendiente' %}
                                <a href='{{ path('terapeuta_cancelarCita', {'id': cita.id}) }}'>Cancelar Cita</a>
                            {% endif %}
                        </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}
