{% extends 'base.html.twig' %}

{% block title %}Terapeuta
{% endblock %}

{% block encabezado %}
	<h2>Espacio para Terapeutas</h2>
	<nav>
		<ul>
			<li><a href=" {{ path('app_terapeuta_citas') }} ">Citas</a></li>
			<li><a href=" {{ path('app_terapeuta_clientes') }} ">Clientes</a></li>
			<li><a href=" {{ path('app_terapeuta_tratamientos') }} ">Tratamientos</a></li>
			<li><a href=" {{ path('app_cambio_password') }} ">Cambiar Contraseña</a></li>
			<li><a href=" {{ path('app_logout') }} ">Cerrar Sesión</a></li>
		</ul>
	</nav>
{% endblock %}
