{% extends 'base.html.twig' %}

{% block title %}Terapeuta
{% endblock %}

{% block encabezado %}
	<nav class="navbar navbar-expand-lg bg-body-tertiary navbar_perfiles">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a 
							{% if app.request.attributes.get('_route') == 'app_terapeuta_citas' %}
								class="nav-link active"
								aria-current="page"
								href="#"
							{% else %}
								class="nav-link"
								href="{{ path('app_terapeuta_citas') }}"
							{% endif %}
								>Citas
						</a>
					</li>
					<li class="nav-item">
						<a 
							{% if app.request.attributes.get('_route') == 'app_terapeuta_clientes' %}
								class="nav-link active"
								aria-current="page"
								href="#"
							{% else %}
								class="nav-link"
								href="{{ path('app_terapeuta_clientes') }}"
							{% endif %}
								>Clientes
						</a>
					</li>
					<li class="nav-item">
						<a 
							{% if app.request.attributes.get('_route') == 'app_terapeuta_tratamientos' %}
								class="nav-link active"
								aria-current="page"
								href="#"
							{% else %}
								class="nav-link"
								href="{{ path('app_terapeuta_tratamientos') }}"
							{% endif %}
								>Tratamientos
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			<img src=" {{ asset('imagenes/setting_icon.svg') }} " alt="Ajustes de la cuenta" class="icono_setting">		
		</button>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href=" {{ path('app_cambio_password') }} "><img src=" {{ asset('imagenes/password.svg') }} " alt="Cambiar contrase침a" class="icono_tools">Cambiar Contrase침a</a></li>
            <li><a class="dropdown-item" href=" {{ path('app_logout') }} "><img src=" {{ asset('imagenes/logout.svg') }} " alt="Cierre de sesi칩n" class="icono_tools">Cerrar Sesi칩n</a></li>
		</ul>
	</div>
{% endblock %}
