{% extends 'admin/indexAdmin.html.twig' %}

{% block title %}Editar Horario
{% endblock %}

{% block main %}
	<h3>Editar Franja Horaria: {{ franja }}</h3>
	<section id="editar-horario">

		{{form_start(form) }}
			{{ form_widget(form) }}
			<a class="enlace_cancelar enlace_form" href="{{ path('app_admin_horarios') }}">Cancelar</a>
		{{ form_end(form) }}

		{% for message in app.flashes('error') %}
			<div class="flash-error">
				{{ message }}
			</div>
		{% endfor %}

	</section>
{% endblock %}
