{% extends 'admin/indexAdmin.html.twig' %}

{% block title %}Horarios para Trabajadores
{% endblock %}

{% block main %}
	<h3>Crear nueva Franja Horaria de trabajo</h3>
	<section id="nuevo-horario">
		{{form_start(form) }}
			{{ form_widget(form) }}
			<button class="btn btn-primary" type="submit">Guardar</button>
		{{ form_end(form) }}

		{% for message in app.flashes('error') %}
			<div class="flash-error">
				{{ message }}
			</div>
		{% endfor %}

	</section>

	<section id="horarios">
		<h3>Horarios</h3>
		{% if horarios|length > 0 %}
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Franja Horaria</th>
						<th>Terapeutas que la cubren</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for horario in horarios %}
						<tr>
							<td>{{ horario.franjaHoraria }}</td>
							<td>
								{% for terapeuta in horario.terapeutas %}
									<p>{{ terapeuta.nombre }}<p/>
								{% endfor %}
							</td>
							<td>
								<button class="btn-accion btn" type="button" data-bs-toggle="modal" data-bs-target="#modalConfirm" data-url="{{ path('app_admin_horarios_borrar', {'id': horario.id}) }}">Borrar</button>
								<a class="enlace_accion" href="{{ path('app_admin_horarios_editar', {'id': horario.id}) }}">Editar</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p>No hay horarios preestablecidos</p>
		{% endif %}
    </section>
{% endblock %}
